@page
@using QcpTask.Core.Caching;
@model QcpTask.Web.Pages.CacheModel


Cache lenght @SimpleCache.TickersList.Count
@foreach (var cacheItem in SimpleCache.TickersList)
{
    <p>
        <span>lastPrice:</span> @cacheItem.result.lastPrice
    </p>
}